Repository GolosChain/golos, pull requests merged in 2018-10, with the labels that each got.

#966 Interest rate for vesting shares delegation #756
  libraries/api/account_api_object.cpp
  libraries/api/chain_api_properties.cpp
  libraries/api/include/golos/api/account_api_object.hpp
  libraries/api/include/golos/api/chain_api_properties.hpp
  libraries/chain/database.cpp
  libraries/chain/hardfork.d/0_19.hf
  libraries/chain/include/golos/chain/account_object.hpp
  libraries/chain/include/golos/chain/comment_object.hpp
  libraries/chain/include/golos/chain/database.hpp
  libraries/chain/include/golos/chain/steem_evaluator.hpp
  libraries/chain/steem_evaluator.cpp
  libraries/protocol/include/golos/protocol/config.hpp
  libraries/protocol/include/golos/protocol/exceptions.hpp
  libraries/protocol/include/golos/protocol/operations.hpp
  libraries/protocol/include/golos/protocol/steem_operations.hpp
  libraries/protocol/include/golos/protocol/steem_virtual_operations.hpp
  libraries/protocol/steem_operations.cpp
  libraries/wallet/include/golos/wallet/wallet.hpp
  libraries/wallet/wallet.cpp
  plugins/account_history/plugin.cpp
  plugins/mongo_db/include/golos/plugins/mongo_db/mongo_db_operations.hpp
  plugins/mongo_db/include/golos/plugins/mongo_db/mongo_db_state.hpp
  plugins/mongo_db/mongo_db_operations.cpp
  plugins/mongo_db/mongo_db_state.cpp
  programs/js_operation_serializer/main.cpp
  tests/common/comment_reward.hpp
  tests/tests/operation_tests.cpp
Labels: core, hardfork, medium

#958 Account_notes plugin, bandwidth for custom_json #924
  libraries/api/chain_api_properties.cpp
  libraries/api/include/golos/api/chain_api_properties.hpp
  libraries/chain/database.cpp
  libraries/chain/hardfork.d/0_19.hf
  libraries/chain/include/golos/chain/database.hpp
  libraries/chain/include/golos/chain/global_property_object.hpp
  libraries/chain/include/golos/chain/steem_object_types.hpp
  libraries/protocol/include/golos/protocol/config.hpp
  libraries/protocol/include/golos/protocol/exceptions.hpp
  libraries/protocol/include/golos/protocol/operations.hpp
  libraries/protocol/include/golos/protocol/steem_operations.hpp
  libraries/protocol/operations.cpp
  libraries/protocol/steem_operations.cpp
  libraries/wallet/include/golos/wallet/wallet.hpp
  libraries/wallet/wallet.cpp
  plugins/account_notes/CMakeLists.txt
  plugins/account_notes/account_notes_evaluators.cpp
  plugins/account_notes/account_notes_operations.cpp
  plugins/account_notes/account_notes_plugin.cpp
  plugins/account_notes/include/golos/plugins/account_notes/account_notes_api_objects.hpp
  plugins/account_notes/include/golos/plugins/account_notes/account_notes_evaluators.hpp
  plugins/account_notes/include/golos/plugins/account_notes/account_notes_objects.hpp
  plugins/account_notes/include/golos/plugins/account_notes/account_notes_operations.hpp
  plugins/account_notes/include/golos/plugins/account_notes/account_notes_plugin.hpp
  plugins/mongo_db/mongo_db_state.cpp
  programs/golosd/CMakeLists.txt
  programs/golosd/main.cpp
  share/golosd/config/config.ini
  share/golosd/config/config_debug.ini
  share/golosd/config/config_debug_mongo.ini
  share/golosd/config/config_mongo.ini
  share/golosd/config/config_stock_exchange.ini
  share/golosd/config/config_witness.ini
  tests/CMakeLists.txt
  tests/plugin_tests/account_notes.cpp
Labels: hardfork, low

#975 Reset withdraw routes on account recovery #971
  libraries/chain/database.cpp
  libraries/chain/hardfork.d/0_19.hf
  libraries/chain/include/golos/chain/steem_evaluator.hpp
  libraries/chain/steem_evaluator.cpp
  tests/tests/operation_tests.cpp
Labels: bug, core, high

#963 Added improvements to auction_window. #898
  libraries/api/discussion_helper.cpp
  libraries/api/include/golos/api/comment_api_object.hpp
  libraries/chain/database.cpp
  libraries/chain/include/golos/chain/comment_object.hpp
  libraries/chain/include/golos/chain/database.hpp
  libraries/chain/steem_evaluator.cpp
  libraries/protocol/include/golos/protocol/operations.hpp
  libraries/protocol/include/golos/protocol/steem_operations.hpp
  libraries/protocol/include/golos/protocol/steem_virtual_operations.hpp
  libraries/protocol/steem_operations.cpp
  tests/common/comment_reward.hpp
  tests/common/helpers.hpp
  tests/tests/operation_tests.cpp
Labels: core, enhancement, hardfork, high

#978 Curation rewards percent setting by post author #324
  libraries/api/chain_api_properties.cpp
  libraries/api/discussion_helper.cpp
  libraries/api/include/golos/api/chain_api_properties.hpp
  libraries/api/include/golos/api/comment_api_object.hpp
  libraries/chain/database.cpp
  libraries/chain/hardfork.d/0_19.hf
  libraries/chain/include/golos/chain/comment_object.hpp
  libraries/chain/include/golos/chain/database.hpp
  libraries/chain/steem_evaluator.cpp
  libraries/protocol/include/golos/protocol/config.hpp
  libraries/protocol/include/golos/protocol/steem_operations.hpp
  libraries/protocol/steem_operations.cpp
  libraries/wallet/include/golos/wallet/wallet.hpp
  libraries/wallet/wallet.cpp
  tests/common/comment_reward.hpp
  tests/tests/operation_tests.cpp
Labels: core, hardfork, low
