Repository GolosChain/golos, pull requests merged in 2019-07, with the labels that each got.

#1347 Allow witnesses limit author promote rate #1062
  libraries/api/chain_api_properties.cpp
  libraries/api/include/golos/api/chain_api_properties.hpp
  libraries/chain/database.cpp
  libraries/chain/steem_evaluator.cpp
  libraries/protocol/include/golos/protocol/steem_operations.hpp
  libraries/protocol/steem_operations.cpp
  libraries/wallet/include/golos/wallet/wallet.hpp
  libraries/wallet/wallet.cpp
Labels: hardfork

#1351 Add HF21. #1349
  libraries/chain/database.cpp
  libraries/chain/hardfork.d/0-preamble.hf
  libraries/chain/hardfork.d/0_21.hf
  libraries/protocol/include/golos/protocol/config.hpp
Labels: hardfork

#1352 Rename HF21 to HF22. #1350
  libraries/api/chain_api_properties.cpp
  libraries/chain/chain_properties_evaluators.cpp
  libraries/chain/database.cpp
  libraries/chain/database_worker_objects.cpp
  libraries/chain/hardfork.d/0-preamble.hf
  libraries/chain/hardfork.d/0_21.hf
  libraries/chain/hardfork.d/0_22.hf
  libraries/chain/include/golos/chain/witness_objects.hpp
  libraries/chain/steem_evaluator.cpp
  libraries/chain/worker_evaluators.cpp
  libraries/protocol/include/golos/protocol/config.hpp
  libraries/protocol/include/golos/protocol/steem_operations.hpp
  libraries/protocol/steem_operations.cpp
  libraries/wallet/wallet.cpp
  tests/common/comment_reward.hpp
Labels: hardfork

#1354 Staked voting for witnesses #820
  libraries/api/account_api_object.cpp
  libraries/api/include/golos/api/account_api_object.hpp
  libraries/chain/database.cpp
  libraries/chain/hardfork.d/0_22.hf
  libraries/chain/include/golos/chain/account_object.hpp
  libraries/chain/steem_evaluator.cpp
  tests/tests/operation_tests.cpp
Labels: hardfork, tests

#1357 Vote author promote improve #1356 and tests #1355
  libraries/chain/database.cpp
  tests/common/comment_reward.hpp
  tests/tests/operation_tests.cpp
Labels: hardfork, tests

#1353 Transit to cyberway. #1348
  libraries/api/include/golos/api/witness_api_object.hpp
  libraries/api/witness_api_object.cpp
  libraries/chain/chain_properties_evaluators.cpp
  libraries/chain/database.cpp
  libraries/chain/hardfork.d/0_21.hf
  libraries/chain/include/golos/chain/database.hpp
  libraries/chain/include/golos/chain/global_property_object.hpp
  libraries/chain/include/golos/chain/steem_evaluator.hpp
  libraries/chain/include/golos/chain/witness_objects.hpp
  libraries/protocol/include/golos/protocol/config.hpp
  libraries/protocol/include/golos/protocol/exceptions.hpp
  libraries/protocol/include/golos/protocol/operations.hpp
  libraries/protocol/include/golos/protocol/steem_operations.hpp
  libraries/protocol/steem_operations.cpp
  libraries/wallet/include/golos/wallet/wallet.hpp
  libraries/wallet/wallet.cpp
  plugins/chain/include/golos/plugins/chain/plugin.hpp
  plugins/chain/plugin.cpp
  plugins/chain/serialize_state.cpp
  plugins/mongo_db/include/golos/plugins/mongo_db/mongo_db_operations.hpp
  plugins/mongo_db/include/golos/plugins/mongo_db/mongo_db_state.hpp
  plugins/mongo_db/mongo_db_operations.cpp
  plugins/mongo_db/mongo_db_state.cpp
  tests/tests/transit_tests.cpp
Labels: hardfork

#1358 Set HF21 time to 12 aug 2017 12:00:00 MSK
  libraries/chain/hardfork.d/0_21.hf
Labels: hardfork

#1359 Golos v0.21.0
  libraries/api/include/golos/api/witness_api_object.hpp
  libraries/api/witness_api_object.cpp
  libraries/chain/chain_properties_evaluators.cpp
  libraries/chain/database.cpp
  libraries/chain/hardfork.d/0-preamble.hf
  libraries/chain/hardfork.d/0_21.hf
  libraries/chain/include/golos/chain/database.hpp
  libraries/chain/include/golos/chain/global_property_object.hpp
  libraries/chain/include/golos/chain/steem_evaluator.hpp
  libraries/chain/include/golos/chain/steem_object_types.hpp
  libraries/chain/include/golos/chain/witness_objects.hpp
  libraries/protocol/include/golos/protocol/config.hpp
  libraries/protocol/include/golos/protocol/exceptions.hpp
  libraries/protocol/include/golos/protocol/operations.hpp
  libraries/protocol/include/golos/protocol/steem_operations.hpp
  libraries/protocol/include/golos/protocol/steem_virtual_operations.hpp
  libraries/protocol/steem_operations.cpp
  libraries/wallet/include/golos/wallet/wallet.hpp
  libraries/wallet/wallet.cpp
  plugins/account_history/plugin.cpp
  plugins/chain/CMakeLists.txt
  plugins/chain/include/golos/plugins/chain/plugin.hpp
  plugins/chain/plugin.cpp
  plugins/chain/serialize_state.cpp
  plugins/chain/serialize_state.hpp
  plugins/mongo_db/include/golos/plugins/mongo_db/mongo_db_operations.hpp
  plugins/mongo_db/include/golos/plugins/mongo_db/mongo_db_state.hpp
  plugins/mongo_db/mongo_db_operations.cpp
  plugins/mongo_db/mongo_db_state.cpp
  plugins/operation_dump/CMakeLists.txt
  plugins/operation_dump/include/golos/plugins/operation_dump/operation_dump_container.hpp
  plugins/operation_dump/include/golos/plugins/operation_dump/operation_dump_plugin.hpp
  plugins/operation_dump/include/golos/plugins/operation_dump/operation_dump_visitor.hpp
  plugins/operation_dump/operation_dump_plugin.cpp
  programs/golosd/CMakeLists.txt
  programs/golosd/main.cpp
  share/golosd/config/config.ini
  share/golosd/config/config_debug.ini
  share/golosd/config/config_debug_mongo.ini
  share/golosd/config/config_mongo.ini
  tests/tests/operation_time_tests.cpp
  tests/tests/transit_tests.cpp
Labels: hardfork

#1364 Set HF21 time to 15 aug 2019 12:00:00 MSK
  libraries/chain/hardfork.d/0_21.hf
Labels: hardfork

#1365 Set HF21 time to 15 aug 2019 12:00:00 MSK
  libraries/chain/hardfork.d/0_21.hf
Labels: hardfork

#1368 Fix delegate_vesting_shares interest_rate checking #1367
  libraries/chain/steem_evaluator.cpp
Labels: bug
