Repository GolosChain/golos, pull requests merged in 2019-06, with the labels that each got.

#1322 Worker fund operation #1107
  libraries/chain/database.cpp
  libraries/chain/hardfork.d/0_21.hf
  libraries/chain/include/golos/chain/steem_evaluator.hpp
  libraries/chain/worker_evaluators.cpp
  libraries/protocol/include/golos/protocol/operations.hpp
  libraries/protocol/include/golos/protocol/worker_operations.hpp
  libraries/protocol/worker_operations.cpp
  plugins/account_history/plugin.cpp
  plugins/mongo_db/include/golos/plugins/mongo_db/mongo_db_operations.hpp
  plugins/mongo_db/include/golos/plugins/mongo_db/mongo_db_state.hpp
  plugins/mongo_db/mongo_db_operations.cpp
  plugins/mongo_db/mongo_db_state.cpp
  tests/tests/worker_payment_tests.cpp
Labels: hardfork

#1323 Finish worker techspec tests #1272
  tests/tests/worker_techspec_tests.cpp
Labels: tests

#1326 Test premade techspecs and techspecs with preset worker #1324
  tests/common/worker_fixture.hpp
  tests/plugin_tests/worker_api_techspec.cpp
  tests/tests/worker_techspec_tests.cpp
Labels: tests

#1328 Allow curator promote author with rate of his reward #1014
  libraries/chain/database.cpp
  libraries/chain/hardfork.d/0_21.hf
  libraries/chain/include/golos/chain/comment_object.hpp
  libraries/chain/include/golos/chain/database.hpp
  libraries/chain/include/golos/chain/steem_evaluator.hpp
  libraries/chain/steem_evaluator.cpp
  libraries/protocol/include/golos/protocol/config.hpp
  libraries/protocol/include/golos/protocol/operations.hpp
  libraries/protocol/include/golos/protocol/steem_operations.hpp
  libraries/protocol/steem_operations.cpp
  plugins/account_history/plugin.cpp
  plugins/mongo_db/include/golos/plugins/mongo_db/mongo_db_operations.hpp
  plugins/mongo_db/include/golos/plugins/mongo_db/mongo_db_state.hpp
  plugins/mongo_db/mongo_db_operations.cpp
  plugins/mongo_db/mongo_db_state.cpp
Labels: hardfork

#1321 Refactor worker exceptions #1249
  libraries/chain/worker_evaluators.cpp
  libraries/protocol/CMakeLists.txt
  libraries/protocol/include/golos/protocol/exceptions.hpp
  libraries/protocol/include/golos/protocol/worker_exceptions.hpp
  tests/tests/worker_payment_tests.cpp
  tests/tests/worker_proposal_tests.cpp
  tests/tests/worker_result_tests.cpp
  tests/tests/worker_techspec_tests.cpp
Labels: hardfork

#1334 Not write follow operations dump in wrong cases #1333
  plugins/operation_dump/include/golos/plugins/operation_dump/operation_dump_visitor.hpp
Labels: bug, high

#1337 Add wallet data to operation dumpp #1336
  libraries/chain/database.cpp
  libraries/protocol/include/golos/protocol/steem_virtual_operations.hpp
  plugins/operation_dump/include/golos/plugins/operation_dump/operation_dump_visitor.hpp
Labels: high

#1338 Add transfer_to_vesting operation dump #1336
  plugins/operation_dump/include/golos/plugins/operation_dump/operation_dump_plugin.hpp
  plugins/operation_dump/include/golos/plugins/operation_dump/operation_dump_visitor.hpp
  plugins/operation_dump/operation_dump_plugin.cpp
Labels: high
